<a href="https://colab.research.google.com/github/zghabr/class/blob/main/traitement_des_donn%C3%A9es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns 
%matplotlib inline

In [3]:
dateCols=['DateDebut', 'DateFin']
df=pd.read_csv("/content/fichier.csv",encoding='latin-1', error_bad_lines=False, parse_dates=dateCols)
df

b'Skipping line 5: expected 17 fields, saw 18\nSkipping line 12: expected 17 fields, saw 18\nSkipping line 14: expected 17 fields, saw 18\nSkipping line 20: expected 17 fields, saw 18\nSkipping line 25: expected 17 fields, saw 18\nSkipping line 30: expected 17 fields, saw 18\nSkipping line 33: expected 17 fields, saw 18\nSkipping line 39: expected 17 fields, saw 18\nSkipping line 44: expected 17 fields, saw 18\nSkipping line 58: expected 17 fields, saw 18\nSkipping line 65: expected 17 fields, saw 18\nSkipping line 77: expected 17 fields, saw 18\nSkipping line 82: expected 17 fields, saw 18\nSkipping line 93: expected 17 fields, saw 18\nSkipping line 98: expected 17 fields, saw 18\nSkipping line 100: expected 17 fields, saw 18\nSkipping line 112: expected 17 fields, saw 18\nSkipping line 113: expected 17 fields, saw 18\nSkipping line 114: expected 17 fields, saw 18\nSkipping line 115: expected 17 fields, saw 18\nSkipping line 117: expected 17 fields, saw 18\nSkipping line 127: expected 17 fields, saw 18\nSkipping line 131: expected 17 fields, saw 18\nSkipping line 133: expected 17 fields, saw 18\nSkipping line 134: expected 17 fields, saw 18\nSkipping line 138: expected 17 fields, saw 18\nSkipping line 144: expected 17 fields, saw 18\nSkipping line 146: expected 17 fields, saw 18\nSkipping line 151: expected 17 fields, saw 18\nSkipping line 163: expected 17 fields, saw 18\nSkipping line 171: expected 17 fields, saw 18\nSkipping line 183: expected 17 fields, saw 18\nSkipping line 187: expected 17 fields, saw 18\nSkipping line 191: expected 17 fields, saw 18\nSkipping line 200: expected 17 fields, saw 18\nSkipping line 207: expected 17 fields, saw 18\nSkipping line 235: expected 17 fields, saw 18\n'

     RefTache  RefPhase  ... WF  Doc
0           1         1  ...  F    F
1           1         1  ...  F    F
2           1         1  ...  F    F
3           1         1  ...  F    F
4           1         1  ...  F    F
..        ...       ...  ... ..  ...
195         9         4  ...  F    F
196         9         4  ...  F    F
197         9         6  ...  F    F
198         9         7  ...  F    F
199         9         8  ...  F    F

[200 rows x 17 columns]

In [ ]:
df.dtypes

In [ ]:
df.drop(df.index[7:190],0,inplace=True)
df

In [ ]:
df=df.drop(['RefTache', 'RefPhase', 'Nom','Description','IDprojet' ,'cout', 'statut', 'Progress', 'Doc', 'WF', 'Priorite'], axis='columns')
df

In [ ]:
df = df[df['IDressource'].notna()]
df

In [ ]:
def preProcessing(df):
    df=df.dropna(axis = 1)
    #df = df.dropna(axis = 1)
    df.head()
    return df
df = preProcessing(df)
df

In [ ]:
df1=df.sort_values(by=['DateDebut'])
df1

In [ ]:
df=df.assign(Dateplustot="", datefin1="")
df

In [ ]:
L=df['IDtache'].to_list()
L

In [ ]:
L3=df[df["Depend"]=="T"]
L3

In [ ]:
L4=L3['IDtache'].to_list()
L4

In [ ]:
L4.extend(L2)
L4

In [ ]:
L1=df[df["Depend"]=="F"]
L1

In [ ]:
L2= L1['IDtache'].to_list()
L2

In [ ]:
d0=df['DateDebut'].min()
d0

In [ ]:
DD=df['DateDebut']
DD

In [ ]:
d=df['duree']
d

In [ ]:
depend=df['Depend']
depend

In [ ]:
L

In [ ]:
class Tache:

  def __init__(self, liste):
    self.liste=L
    
  def get_données(self, d, depend):
    self.DateDebut=DD
    self.duree=d
    self.Depend=depend

In [ ]:
T=Tache(L)

In [ ]:
for i in df.index:
  for j in L2:
     df.Dateplustot[j]=d0

In [ ]:
df

In [ ]:
df.datefin1=df['DateDebut'] + pd.to_timedelta(df.duree+1, unit='d')
df

In [ ]:
for i in df.index:
   L=[]
   L=taches(L4)
   print(L.IDtache)

In [ ]:
import datetime
from datetime import timedelta, date
for i in df.index:
   df.datefin1[i] = datetime.datetime.strptime(df.datefin1[i], "%m/%d/%y"")
   df.datefin1[i] = df.datefin1[i] + datetime.timedelta(df.duree[i])